<!DOCTYPE html>
<html lang="en" layout:decorate="~{/fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container border rounded">
            <div class="d-flex justify-content-between">
                <div class="py-3">
                    <button class="btn btn-primary" onclick="openModal()">
                        Tambah Data
                    </button>
                </div>
                <div class="py-3">
                    <input type="text" class="form-control" placeholder="Search by nama" id="searchBar"
                        oninput="searchByName()" />
                </div>
            </div>
            <table class="table text-center rounded" border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            Nama
                            <a href="#" onclick="sorting()">
                                <img class="pe-auto" src="/images/sort.svg" alt="" width="20" height="10" />
                            </a>
                        </th>
                        <th>Jenis Cuti</th>
                        <th>Alasan Cuti</th>
                        <th>Durasi Cuti</th>
                        <th>Contact</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="isiData"></tbody>
            </table>
            <div id="paging"></div>
        </div>
    </div>

</body>

</html>

<script>
    let form = `
            <form id="employe-form">
            <div class='modal-body'>
            <input type="hidden" id="employeId">
            <div class="form-group">
            <label>Nama<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="namaEmploye" oninput="resetError()"/>
            <div class='text-danger' id='error_nama' style='display:none;'></div>
            </div>
            <div class="form-group">
            <label>Jenis Cuti<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="leaveName" oninput="resetError()"/>
            <div class='text-danger' id='error_leaveName' style='display:none;'></div>
            </div>
            <div class="form-group">
            <label>Alasan Cuti<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="leaveRequest" oninput="resetError()"/>
            <div class='text-danger' id='error_leaveRequest' style='display:none;'></div>
            </div>
            <div class="form-group">
            <label>Durasi Cuti<span class="text-danger"></span></label>
            <input type="text" class="form-control" id="durasi"/>
            <div class='text-danger' id='error_durasi' style='display:none;'></div>
            <div class="form-group">
            <label>Contact<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="contact" oninput="resetError()"/>
            <div class='text-danger' id='error_contact' style='display:none;'></div>
            </div>
            </div>
            </div>
            </form;
            `;
    let isAsc = true;
    $(function () {
        fetchDataEmploye(1, 5, isAsc ? "asc" : "desc");
        $(".modal-body").html(form);
    });
    const sorting = () => {
        isAsc = !isAsc;
        fetchDataEmploye(1, 5, isAsc ? "asc" : "desc");
    }

    const resetError = () => {
        $("#error_nama").text("").hide();
        $("#error_leaveName").text("").hide();
        $("#error_leaveRequest").text("").hide();
        $("#error_contact").text("").hide();
    }

    const openModal = () => {
        console.log("berhasil open modal")
        $("#modal").modal("show");
        $(".modal-body").html(form);
        $(".modal-title").text("Tambah Employe");
        $("#btnSubmit")
            .off("click")
            .on("click", function () {
                saveEmploye();
            })
            .text("Simpan")
            .addClass("btn btn-primary");
        $('#btnClose').off("click").on("click", function () {
            $('#modal').modal('hide');
        });
        $('#btnCloseX').off("click").on("click", function () {
            $('#modal').modal('hide');
        });

    }

    const fetchDataEmploye = (page, size, order) => {
        $.ajax({
            url: `/api/employe?page=${page}&size=${size}&order=${order}`,
            type: "get",
            contentType: "application/json",
            success: function (responseBody) {
                console.log("data berhasil didapatkan")
                console.log(responseBody)
                let str = "";
                let resEmploye = responseBody.data;
                if (!resEmploye || resEmploye.length === 0) {
                    str = `<tr><td colspan="4">${responseBody.message || "Data tidak ditemukan"}</td></tr>`;
                } else {
                    for (let i = 0; i < resEmploye.length; i++) {
                        let employe = resEmploye[i];
                        str += `
              <tr>
                <td>${responseBody.offset + 1 + i}</td>
                <td>${employe.fullname}</td>
                <td>${employe.jenisCuti}</td>
                <td>${employe.alasanCuti}</td>
                <td>${employe.durasi}</td>
                <td>${employe.contact}</td>
                <td>
                  <button class='btn btn-warning btn-md' value=${employe.id} onclick='f_edit(this.value)'>Edit</button>
                  <button class='btn btn-danger btn-md' value=${employe.id} onclick='f_delete(this.value)'>Hapus</button>
                </td>
              </tr>
            `;
                    }
                }
                $("#isiData").html(str);
                $("#paging").show();
                pagingList(responseBody);
            },

        });
    }

    const saveEmploye = () => {
        let fullname = $("#namaEmploye").val();
        let alasanCuti = $("#leaveName").val();
        let jenisCuti = $("#leaveRequest").val();
        let contact = $("#contact").val();
        let durasi = $("#durasi").val();

        let formData = JSON.stringify({
            fullname,
            alasanCuti,
            jenisCuti,
            contact,
            durasi
        });
        console.log("berhasih disimpan")

        $.ajax({
            url: `/api/employe/add`,
            type: "post",
            contentType: "application/json",
            data: formData,
            success: function (response) {
                console.log("response : ", response)
                $("#modal").modal("toggle");
                fetchDataEmploye(1, 5, isAsc ? "asc" : "desc");
            },
            error: function (jqXHR) {
                handleErrors(jqXHR);
            },
        });
    }


    const pagingList = (data) => {
        let nextMove =
            data.page + 1 > data.total_pages ? data.total_pages : data.page + 1;
        let prevMove = data.page - 1 < 1 ? data.page : data.page - 1;
        let size = data.per_page;
        let lengthList = "";

        for (let i = 1; i <= data.total_pages; i++) {
            lengthList += `<li class="page-item"><a href="#" class="page-link pe-auto" onclick='fetchDataBank(${i},${size}, isAsc ? "asc" : "desc")'>${i}</a></li>`;
        }
        let str = `
    <nav aria-label="Page navigation example">
  <ul class="pagination">
   <li class="page-item"><a href="#" class="page-link pe-auto" onclick='fetchDataBank(${prevMove},${size},isAsc ? "asc" : "desc")'>Previous</a></li>
    ${lengthList}
    <li class="page-item"><a href="#" class="page-link mr-2" onclick='fetchDataBank(${nextMove},${size}, isAsc ? "asc" : "desc")'>Next</a></li>
    <li><select id='rowPerPage' class="form-control"onchange='fetchDataBank(${data.page},this.value, isAsc ? "asc" : "desc")'>
          <option>Select Row</option>  
            <option value = 5>5</option>
            <option value = 10>10</option>
            <option value = 15>15</option>
          </select></li>
    </ul>
</nav>
    `;
        $("#paging").html(str);
    }
    const handleErrors = (jqXHR) => {
        let response = jqXHR.responseJSON;
        console.log("ini response : ", response)
        if (jqXHR.status === 409 && response) {

            if (response.fullname) {
                $("#error_nama").text(response.fullname).show();
            } else {
                $("#error_nama").text("").hide();
            }

            if (response.contact) {
                $("#error_contact").text(response.contact).show();
            } else {
                $("#error_contact").text("").hide();
            }
            if (response.alasanCuti) {
                $("#error_leaveName").text(response.alasanCuti).show();
            } else {
                $("#error_leaveName").text("").hide();
            }
            if (response.jenisCuti) {
                $("#error_leaveRequest").text(response.jenisCuti).show();
            } else {
                $("#error_leaveRequest").text("").hide();
            }
            if (response.durasi) {
                $("#error_durasi").text(response.durasi).show();
            } else {
                $("#error_durasi").text("").hide();
            }
        } else if (jqXHR.status === 404) {

            $("#not_found_bank").text("Data tidak ditemukan").show();
        } else {

            alert(
                "An unexpected error occurred: " + jqXHR.status + " - " + jqXHR.statusText
            );
        }
    }



</script>